@import 'fonts';

$font-title-small: bold 40px "Raleway";
$font-title-medium: 900 60px "Raleway";
$font-title-big: bold 60px "Raleway";
$font-article: 300 17px "Raleway";


body{
    margin: 0;
    
}

.section{
    width: 1200px;
    margin: 0 auto;
}

.container{

    &--header{
        background-color: #f9f8fb;
    }

    &--about{
        background-color: #00b0b0;
    }

    &--subscribe{
        background-image: url("../img/blackberries3.png");
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
    }

    
    &--services{
        background-color: #70bfff;
    }
    
    &--gallery{
        background-color: #ffe92f;

        padding-top: 85px;
        padding-bottom: 120px;
    }

    &--blog{
        background-color: #b07cf7;
        padding-top: 85px;
        padding-bottom: 120px;

    }

    &--contact{
        background-image: url("../img/blurry_sky.png");
        background-position: center;
        background-size: cover;
        padding-top: 80px;

    }


}




.header{
    &-container{
        background-color: #f9f8fb;
    }


    position: relative;
    height: 800px;
    background-image: url("../img/strawberries.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right, bottom;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &-top{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 100;
        background-color: white;
        transition: top 0.3s;
    }

    &__scroll{
        position: absolute;
        bottom: 69px;
        left: 50%;
        align-self: center;
    }
    
}


.logo{
    font-family: "Pacifico";
    color: rgb(38, 38, 38);
    text-align: right;
    margin: 0;
    
    &--header{
        font-size: 50px;
    }
}
.menu{
    width: 557px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: flex-end;
    margin-right: 15px;

    &-item{
        font-size: 16px;
        font-family: "Raleway";
        color: rgb(38, 38, 38);
        font-weight: bold;
        text-align: right;
        text-transform: uppercase;
    }

    &__link{
        color: rgb(38, 38, 38);
        text-decoration: none;
        line-height: 1.563;

        &:hover{
            color: rgb(38, 38, 38);
            text-decoration: none;
            border-top: solid rgb(255, 96, 51) 3px;
        }
    }

}

.hamburger{
    display: none;
    color: rgb(38, 38, 38);
    margin-right: 30px;

    &:hover{
        color: rgb(38, 38, 38);
    }
}




.title-text{
    font: $font-title-medium;
    color: rgb(38, 38, 38);
    margin: 0;
    margin-bottom: 25px;

    &--small{
        font: $font-title-small;
    }

    &--big {
        font: $font-title-big;
    }

    &--white{
        color: white;
    }

    &--centered{
        text-align: center;

    }
}

.article__text{
    font: $font-article;
    color: rgb(38, 38, 38);
    line-height: 27px;

    
    &--white{
        color: white;
    }

}

.text-align-center {
    text-align: center;
}


.article__button{
    height: 55px;
    background-color: rgb(255, 96, 51);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

    &--header{
        margin-top: 30px;
        margin-bottom: 100px;
    }

    &:hover{
        transition: all 0.2s ease;
        text-decoration: none;
        color: white;
        box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);

    }

    &--blue{
        background-color: #5585a2;
        margin-top: 50px;
        margin-bottom: 120px;
    }

    &--green{
        background-color: #96b92c;
        margin-top: 50px;

    }

    &--red{
        background-color: #f72b3b;

        margin-top: 20px;
    }
}


.article{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.img-wrapper{
    display: flex;
    justify-content: center;
}

.img-aside{
    width: 100%;
    max-width: 60vw;
    display: block;
}




.services{

    &-container__title {
        font-size: 90px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        height: 100%;    
        background-image: url(../img/pomidorki.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    
        display: flex;
        align-items: center;
    }

    &-list-item {
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    
    
        display: flex;
        align-items: center;

        &:hover {
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
        }
        
    }

    &-list-item__name {
        width: 75%;
        height: 100px;
        font-size: 20px;
        color: rgb(38, 38, 38);
        font-weight: bold;
        text-align: center;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-icon {
        &-container {
            box-sizing: border-box;
            width: 25%;
            height: 100px;
            border-left: solid 1px rgb(157, 157, 157);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        &__img{
            fill-rule: evenodd; 
            fill: rgb(38, 38, 38);
        }
    }

    &-row{
        min-height: 790px;
    }

}

.gallery {

    &__img{
        width: 100%;
        margin-bottom: 30px;
    }

    &-gallery{
        margin-top: 40px;
    }
}


.subscribe{
    position: relative;

    &-form{
        padding-top: 140px;
        padding-bottom: 163px;

       
    }

    &-input{
        width: 100%;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(38, 38, 38);
        font-size: 15px;
        font-family: "Raleway";
        color: rgba(38, 38, 38, 0.502);
        line-height: 1.8;
        height: 55px;
        vertical-align: middle;
        text-indent: 1em;

        &::placeholder{
            font-size: 15px;
            font-family: "Raleway";
            color: rgba(38, 38, 38, 0.502);
            line-height: 55px;


        }

    }


}

.row-lg-2{
    padding-left: 15px;
    padding-right: 15px;
}









.column{
    position: relative;

    &>div{
        position: absolute;
        z-index: 1;
    }

    &:hover {
        transition: all 0.2s ease-in-out;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);

        &::after{
            content:'';
            position:absolute;
            left:0; top:0;
            width:100%; height:100%;
            display:inline-block;
        
            background: linear-gradient(0deg, rgba(34,34,34,0.9) 0%, rgba(34,34,34,0.5) 30%, rgba(0,0,0,0) 100%); 
            transition: all 0.2s ease-in-out;
        
        }
    }

}

.blog{

    &-content{
        margin-top: 40px;
    }


    &-date{
        border-radius: 5px;
        background-color: rgb(38, 38, 38);
        opacity: 0.502;
        width: 60px;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        top: 9.667%;
        left: 8.108%;

        & *{
            opacity: 1;
        }

        &__num {
            font-size: 32px;
            font-family: "Raleway";
            color: rgb(255, 255, 255);
            font-weight: bold;
            line-height: 0.781;    
        }

        &__mon {
            font-size: 21px;
            font-family: "Raleway";
            font-weight: 900;
            color: rgb(255, 255, 255);
            line-height: 1.19;
    
        }

    }    


    &-text {
        left: 5.405%;
        bottom: 6.451%;
        max-height: 50%;

        &__title{
            font-size: 20px;
            font-family: "Raleway";
            color: white;
            font-weight: bold;
            line-height: 1.25;
        }
        &__sub-title{
            font-size: 13px;
            font-family: "Raleway";
            color: white;
            font-weight: lighter;
            line-height: 1.25;
        }

        
    
    }
    &-item{
        margin-bottom: 30px;
    }

    &__img{
        width: 100%;
    }

}



.footer{

    &-wrapper {
        margin-top: 45px;
        margin-bottom: 105px;
    }

    &-contact {

        &__title{
            font-weight: bold;
        }

        &__data{
            font-size: 20px;

        }

    }

    &-form {
        &__input {
            box-sizing: border-box;
            font-size: 15px;
            font-family: "Raleway";
            color: rgb(255, 255, 255);
            background-color: rgba(0, 196, 196, 0.502);
            width: 100%;
            height: 50px;
            border: none;
            margin-bottom: 15px;
            padding: 20px;
            border-left: solid 0px #355b82;
    
            &--big{
                height: 250px;
                resize: none;
            }
    
            &:focus {
                opacity: 1;
                border-left: solid 5px #355b82;
                transition: all 0.1s ease-in-out;
            }
        }
    }


}




.footer-footer{
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    &-wrapper{
        width: 100%;

        max-width: 1200px;
        margin: 0 auto;

    }

    &__copyright{
        font-size: 16px;
        font-family: "Raleway";
        color: rgb(185, 185, 185);
        text-align: left;
    }

    &__logo {
        font-size: 25px;
        font-family: "Pacifico";
        color: rgb(185, 185, 185);
        text-align: center;
    }

    &__with-love {
        font-size: 15px;
        font-family: "Raleway";
        color: rgb(185, 185, 185);
        text-align: right;
    }

}

.love-red {
    color: #ff2b58;
    font-weight: bold;
}



















@media screen and (max-width:1200px)
{
    /* temporary */
    // .header-top{
        // display: none;
    // }



    .section{
        width: 100%;
        margin: 0 auto;
    }

    .header{


        &__scroll {
            display: none;
        }
    }

}

@media screen and (max-width:991px)
{
    .services{

        &-container__title {
            background: none;
            
        
        }

    }

    .container{
        &--subscribe {
            background-size: 100%;
            background-position: right bottom;
        }
    }

}

@media screen and (max-width:766px)
{
    .header{
        height: auto;
        background: none;
        padding-top: 200px;
    }


    .menu{
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
    }

    .menu-item{
        display: none;
    }

    .hamburger{
        display: block;
        z-index: 200;
    }


    .responsive{
        display: block !important;
    }

}

@media screen and (max-width:575px)
{

    
.footer-footer{

    &__copyright{
        text-align: center;
    }

    &__logo {
        text-align: center;
    }

    &__with-love {
        text-align: center;
    }

}
    

}

