@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: Pacifico;
  src: url("../fonts/Pacifico-Regular.ttf");
}

@-ms-viewport {
  width: device-width;
}

body {
  margin: 0;
}

.section {
  width: 1200px;
  margin: 0 auto;
}

.container--header {
  background-color: #f9f8fb;
}

.container--about {
  background-color: #00b0b0;
}

.container--subscribe {
  background-image: url("../img/blackberries3.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.container--services {
  background-color: #70bfff;
}

.container--gallery {
  background-color: #ffe92f;
  padding-top: 85px;
  padding-bottom: 120px;
}

.container--blog {
  background-color: #b07cf7;
  padding-top: 85px;
  padding-bottom: 120px;
}

.container--contact {
  background-image: url("../img/blurry_sky.png");
  background-position: center;
  background-size: cover;
  padding-top: 80px;
}

.header {
  position: relative;
  height: 99vh;
  background-image: url("../img/strawberries.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right, bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-container {
  background-color: #f9f8fb;
}

.header-top {
  width: 100%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: white;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}

.header__scroll {
  position: relative;
  bottom: 69px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.logo {
  font-family: "Pacifico";
  color: #262626;
  text-align: right;
  margin: 0;
}

.logo--header {
  font-size: 50px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  margin-right: 15px;
}

.menu-item {
  font-size: 16px;
  font-family: "Raleway";
  color: #262626;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
  margin: 15px;
}

.menu__link {
  color: #262626;
  text-decoration: none;
  line-height: 1.563;
}

.menu__link:hover {
  color: #262626;
  text-decoration: none;
  border-top: solid #ff6033 3px;
}

.hamburger {
  display: none;
  color: #262626;
  font-size: 42px;
  height: 42px;
  width: 42px;
  line-height: 0.75;
  position: absolute;
  top: 25px;
  right: 15px;
}

.hamburger:hover {
  color: #262626;
}

.title-text {
  font: 900 60px "Raleway";
  color: #262626;
  margin: 0;
  margin-bottom: 25px;
}

.title-text--small {
  font: bold 40px "Raleway";
}

.title-text--big {
  font: bold 60px "Raleway";
}

.title-text--white {
  color: white;
}

.title-text--centered {
  text-align: center;
}

.article__text {
  font: 300 17px "Raleway";
  color: #262626;
  line-height: 27px;
}

.article__text--white {
  color: white;
}

.text-align-center {
  text-align: center;
}

.article__button {
  height: 55px;
  background-color: #ff6033;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-family: "Raleway";
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

.article__button--header {
  margin-top: 30px;
  margin-bottom: 100px;
}

.article__button:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-decoration: none;
  color: white;
  -webkit-box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
}

.article__button--blue {
  background-color: #5585a2;
  margin-top: 50px;
}

.article__button--green {
  background-color: #96b92c;
  margin-top: 50px;
}

.article__button--red {
  background-color: #f72b3b;
  margin-top: 20px;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-aside {
  width: 100%;
  height: auto;
  max-width: 60vw;
  display: block;
}

.services-container__title {
  font-size: 90px;
  color: white;
  font-weight: bold;
  height: 100%;
  background-image: url(../img/pomidorki.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-list-item {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-list-item:hover {
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.services-list-item__name {
  width: 75%;
  height: 100px;
  font-size: 20px;
  color: #262626;
  font-weight: bold;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-icon-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 25%;
  height: 100px;
  border-left: solid 1px #9d9d9d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-icon__img {
  fill-rule: evenodd;
  fill: #262626;
}

.services-row {
  min-height: 790px;
}

.gallery__img {
  width: 100%;
  margin-bottom: 30px;
}

.gallery-gallery {
  margin-top: 40px;
}

.subscribe {
  position: relative;
}

.subscribe-form {
  padding-top: 140px;
  padding-bottom: 163px;
}

.subscribe-input {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #262626;
  font-size: 15px;
  font-family: "Raleway";
  color: rgba(38, 38, 38, 0.502);
  height: 55px;
  vertical-align: middle;
  text-indent: 1em;
}

.subscribe-input::-webkit-input-placeholder {
  font-size: 15px;
  font-family: "Raleway";
  color: rgba(38, 38, 38, 0.502);
}

.subscribe-input:-ms-input-placeholder {
  font-size: 15px;
  font-family: "Raleway";
  color: rgba(38, 38, 38, 0.502);
}

.subscribe-input::-ms-input-placeholder {
  font-size: 15px;
  font-family: "Raleway";
  color: rgba(38, 38, 38, 0.502);
}

.subscribe-input::placeholder {
  font-size: 15px;
  font-family: "Raleway";
  color: rgba(38, 38, 38, 0.502);
}

.row-lg-2 {
  padding-left: 15px;
  padding-right: 15px;
}

.column {
  position: relative;
}

.column > div {
  position: absolute;
  z-index: 1;
}

.column:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.column:hover::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(34, 34, 34, 0.9)), color-stop(30%, rgba(34, 34, 34, 0.5)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, rgba(34, 34, 34, 0.9) 0%, rgba(34, 34, 34, 0.5) 30%, rgba(0, 0, 0, 0) 100%);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.blog-content {
  margin-top: 40px;
}

.blog-date {
  border-radius: 5px;
  background-color: #262626;
  opacity: 0.502;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 9.667%;
  left: 8.108%;
}

.blog-date * {
  opacity: 1;
}

.blog-date__num {
  font-size: 32px;
  font-family: "Raleway";
  color: white;
  font-weight: bold;
  line-height: 0.781;
}

.blog-date__mon {
  font-size: 21px;
  font-family: "Raleway";
  font-weight: 900;
  color: white;
  line-height: 1.19;
}

.blog-text {
  left: 5.405%;
  bottom: 6.451%;
  max-height: 50%;
}

.blog-text__title {
  font-size: 20px;
  font-family: "Raleway";
  color: white;
  font-weight: bold;
  line-height: 1.25;
}

.blog-text__sub-title {
  font-size: 13px;
  font-family: "Raleway";
  color: white;
  font-weight: lighter;
  line-height: 1.25;
}

.blog-item {
  margin-bottom: 30px;
}

.blog__img {
  width: 100%;
}

.footer-wrapper {
  margin-top: 45px;
  margin-bottom: 105px;
}

.footer-contact__title {
  font-weight: bold;
}

.footer-contact__data {
  font-size: 20px;
}

.footer-form__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
  font-family: "Raleway";
  color: white;
  background-color: rgba(0, 196, 196, 0.502);
  width: 100%;
  height: 50px;
  border: none;
  margin-bottom: 15px;
  padding: 20px;
  border-left: solid 0px #355b82;
}

.footer-form__input--big {
  height: 250px;
  resize: none;
}

.footer-form__input:focus {
  opacity: 1;
  border-left: solid 5px #355b82;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.footer-footer {
  background-color: #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  width: 100%;
}

.footer-footer-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-footer__copyright {
  font-size: 16px;
  font-family: "Raleway";
  color: #b9b9b9;
  text-align: left;
}

.footer-footer__logo {
  font-size: 25px;
  font-family: "Pacifico";
  color: #b9b9b9;
  text-align: center;
}

.footer-footer__with-love {
  font-size: 15px;
  font-family: "Raleway";
  color: #b9b9b9;
  text-align: right;
}

.love-red {
  color: #ff2b58;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  /* temporary */
  .section {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 991px) {
  .services-container__title {
    background: none;
  }
  .container--subscribe {
    background-size: 100%;
    background-position: right bottom;
  }
}

@media screen and (max-width: 766px) {
  .header {
    height: auto;
    background: none;
    padding-top: 200px;
  }
  .header-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu {
    display: none;
  }
  .hamburger {
    display: block;
    z-index: 200;
  }
  .responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 199;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .responsive > * {
    margin: 15px;
  }
  .logo--header {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media screen and (max-width: 575px) {
  .footer-footer__copyright {
    text-align: center;
  }
  .footer-footer__logo {
    text-align: center;
  }
  .footer-footer__with-love {
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */